* {
  text-decoration: none !important;
}

.text-center {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.text-center-info {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.container-car-shopping-content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 5px;
}

.container-car-shopping-content .table-header .botones a {
  text-decoration: none;
  color: #fff;
}

.container-car-shopping-content .table-header .btn-outline-danger,
.container-car-shopping-content .table tbody td .btn-outline-danger {
  background-color: #dc3545;
  color: #fff;
}

.container-car-shopping-content .table-header .btn-outline-danger:hover,
.container-car-shopping-content .table tbody td .btn-outline-danger:hover {
  background-color: #e32828;
  transition: all .2s;
}

.table-header .btn-outline-danger i {
  color: #fff !important;
}

.table-header form {
  padding-left: 5px;
}

.container-car-shopping-content .table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table> :not(caption)>*>* {
  border: none;
}

.container-car-shopping-content .table tr {
  background-color: #fff;
  border: 1px solid #ddd;
}

.container-car-shopping-content .table th,
.container-car-shopping-content .table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.container-car-shopping-content .table thead th {
  text-transform: uppercase;
  background-color: #ffffff;
}

.container-car-shopping-content .table tbody td:hover {
  background-color: rgb(219, 219, 219);
}

.table-hover>tbody>tr:hover>* {
  background-color: #fff !important;
  transition: all 0.2s ease-out;
}

.container-car-shopping-content td img {
  width: 100px;
  height: auto;
  overflow: hidden;
}

.container-car-shopping-content .botones {
  display: initial;
  width: 100%;
  padding-bottom: 10px;
}

.container-car-shopping-content .botones a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .text-center {
    font-size: 22px;
  }

  .table {
    border: 0px;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 8px;
    display: block;
  }

  .table th,
  .table td {
    font-size: 12px;
  }

  .table td {
    display: block;
    text-align: right !important;
  }

  .table td:last-child {
    border-bottom: 0px;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }

  .botones {
    display: flex !important;
    justify-content: center;
    gap: 10px;
  }

  .container-car-shopping-content .table-header .botones {
    justify-content: start;
  }

  .container-car-shopping-content .botones {
    padding: 0;
    justify-content: center;
  }

  .form-control {
    width: 50%;
  }
}